header{
    border-right: -100%;
}

.topnav {
    position: fixed;
    margin-top: -3vh;
    padding-top: 1.5vh;
    margin-left: -3vw;
    width: 103vw;
    background-color: #0D0D0D;
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #a1a1a1;
}
  
.topnav a.active {
    border-style: solid;
    border-color: transparent transparent white transparent;
    color: white;
}

.black-space{
    padding-top: 20%;
    margin-left: -5vw;
    margin-right: -5vw;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("../Assets/piano background.jpg");
    background-size: auto;
    background-position: left;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
}

h1{
    padding-bottom: 20%;
    font-family: 'Calibri';
    color: white;
    font-size: 7vw;
    text-align: center;
}

h2{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 48px;
    text-align: left;
}

a{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-decoration: underline;
}

p{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-align: justify;
}

.contact{
    margin-bottom: -3vh;
    padding-bottom: 1vh;
    margin-left: -20%;
    width: 117.7vw;
    background-color: #0D0D0D;
    overflow: hidden;
}

.contact a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}

.contact a:hover {
    color: #a1a1a1;
}