.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0D0D0D;
}

.topnav a {
    border-style: solid;
    border-color: transparent;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: #a1a1a1;
}
  
.topnav a.active {
    border-style: solid;
    border-color: transparent transparent white transparent;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        display: block;
        color: white;
        text-align: right;
        padding: 15px 15px;
        padding-right: 5vw;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }
  }
  
 @media screen and (max-width: 600px) {
    .topnav.responsive{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #0D0D0D;
        display: flex;
        flex-direction: column-reverse;
    }

    .topnav.responsive a.icon {
        display: block;
        color: white;
        text-align: right;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        padding-right: 5vw;
        text-align: right;
    }
  }

body{
    margin: 0;
    padding: 0;
}

.black-space{
    padding-top: 20%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url("../Assets/piano background.jpg");
    background-size: contain;
    background-position: left;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
}

h1{
    padding-bottom: 20%;
    font-family: 'Calibri';
    color: white;
    font-size: 7vw;
    text-align: center;
}

h2{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 48px;
    text-align: left;
}

a{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-decoration: underline;
}

p{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-align: justify;
}

.contact{
    overflow: hidden;
    width: 100%;
    background-color: #0D0D0D;
}

.contact a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}

.contact a:hover {
    color: #a1a1a1;
}


@media screen and (max-width: 600px) {
    .contact{
        overflow: hidden;
        width: 100%;
        background-color: #0D0D0D;
        display: flex;
        flex-direction: column-reverse;
    }

    .contact a{
        float: none;
        display: block;
        padding-right: 5vw;
        text-align: right;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }
  }