.topnav {
    position: fixed;
    margin-top: -3vh;
    padding-top: 1.5vh;
    margin-left: -3vw;
    width: 101.5vw;
    background-color: #0D0D0D;
    overflow: hidden;
}

.topnav a {
    border-color: transparent transparent transparent transparent;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    border-color: transparent transparent transparent transparent;
    color: #a1a1a1;
}
  
.topnav a.active {
    border-style: solid;
    border-color: transparent transparent white transparent;
    color: white;
}

.topnav .icon {
    display: none;
    border-right: 10vw;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        display: block;
        color: white;
        text-align: right;
        padding: 15px 15px;
        padding-right: 5vw;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }
  }
  
 @media screen and (max-width: 600px) {
    .topnav.responsive{
        position: fixed;
        width: 101.5vw;
        background-color: #0D0D0D;
        display: flex;
        flex-direction: column-reverse;
    }

    .topnav.responsive a.icon {
        display: block;
        color: white;
        text-align: right;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        padding-right: 5vw;
        text-align: right;
    }
  }

.black-space{
    width: 117.7vw;
    margin-left: -20%;
    background-repeat: no-repeat;
    background-color: #0D0D0D;
    background-image: url("../Assets/background new.jpg");
    background-size: contain;
    background-position: right;
}

.name{
    padding-top: 10%;
    padding-left: 22%;
    padding-bottom: 10%;
}

.white-space{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 10%;
}

.responsive{
    width: 100%;
    height: auto;
}

.bio-img{
    size: inherit;
    padding-right: 6vw;
    float: left;
    width: fit-content;
}

.bio-text{
    padding-top: 2%;
    display: table;
}

h1{
    font-family: 'Calibri';
    color: white;
    font-size: 7vw;
    text-align: left;
}

h2{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 48px;
    text-align: left;
}

h3{
    font-family: 'Calibri';
    color: #a1a1a1;
    font-size: 4vw;
    text-align: left;
}

p{
    font-family: 'Calibri';
    color: #0D0D0D;
    font-size: 20px;
    text-align: justify;
}

.contact{
    margin-bottom: -3vh;
    padding-bottom: 1vh;
    margin-left: -20%;
    width: 117.7vw;
    background-color: #0D0D0D;
    overflow: hidden;
}

.contact a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    font-family: 'Calibri';
    text-decoration: none;
    font-size: 17px;
}

.contact a:hover {
    color: #a1a1a1;
}

@media screen and (max-width: 600px) {
    .contact{
        margin-bottom: -10vh;
        padding-bottom: 3vh;
        margin-left: -20%;
        width: 117.7vw;
        background-color: #0D0D0D;
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
    }

    .contact a{
        float: none;
        display: block;
        padding-right: 5vw;
        text-align: right;
        font-family: 'Calibri';
        text-decoration: none;
        font-size: 17px;
    }
  }